{% extends "base.html" %}
{% block content %}
    <div class='container'>
        <div class='row'>
            {% for obj in object_list %}
                <div class='col'>
                    {% include 'products/snippets/card.html' with instance=obj %}
                </div>
            {% endfor%}
        </div>
    </div>
{% endblock content %}

<!--
<h1>Lista de Produtos e Preço</h1><br/>

{% for obj in object_list %}

<h3>{{ obj.title }}</h3>
<h4>{{ obj.description }}</h4> 
{{ 'preço de venda: '}}
{{ obj.price }} <br/>
<br/>
{% endfor%} >!--
